@use '../../scss/utilities/variables' as var;
@use '../../scss/utilities/mixings' as mix;
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    right: -300px;
    width: nth(var.$hundreds, 3);
    transition: all 0.5s;
    background-color: var.$white;
    z-index: 1;
    &.is-open {
        right: 0;
    }
    .close-icon {
        position: relative;
        left: var.$mp-t;
        font-size: var.$mp-g;
        top: var.$size-j;
    }
    .nav {
        @include mix.center(auto);
        height: var.$per-9;
        margin-top: var.$mp-nn;
        text-align: center;
        padding-left: var.$mp-a;
        a {
            text-decoration: none;
            color: var.$black;
            .nav-item {
                width: var.$per-10;
                text-align: center;
                margin-bottom: var.$size-q;
                list-style: none;
                padding-top: var.$mp-f;
                padding-bottom: var.$mp-f;
                &:hover {
                    background-color: var.$green-bankia;
                    color: var.$white;
                    width: auto;
                    border-radius: var.$mp-d;
                }
            }
        }
    }
}