@use '../../scss/utilities/mixings' as mix;
@use '../../scss/utilities/variables' as var;
.header-home {
    display: flex;
    justify-content: space-between;
    padding-top: var.$mp-f;
    padding-bottom: var.$mp-f;
    align-items: center;
    position: fixed;
    height: var.$mp-l;
    width: var.$per-10;
    z-index: 1;
    background-color: var.$white;
    .home-header-logo {
        background-image: url('../../images/logo_BANKIA_CAIXA.svg');
        width: nth(var.$hundreds, 3);
        height: var.$size-p;
        background-repeat: no-repeat;
        background-size: contain;
        margin-left: var.$size-p;
    }
    .home-header-toggle {
        cursor: pointer;
        margin-right: var.$size-p;
    }
}


/**
MEDIA-QUERY
**/

/*----- Escritorio -----*/

@media (min-width: 1441px){
    .header-home {
        @include mix.center(nth(var.$medias, 5));
        position: relative;
    }
}