@use '../../scss/utilities/mixings' as mix;
@use '../../scss/utilities/variables' as var;

.login{
    width: var.$per-8;
    margin: auto;
    .login-title{
        margin-bottom: var.$mp-i;
    }
    .login-form{
        display: grid;
        input{
            margin-top: var.$mp-f;
            margin-bottom: var.$mp-f;
            
        }
        .login-input-email,
        .login-input-password{
            outline: none;
            @include mix.input(var.$green-bankia);
        }
        .login-button-login{
            @include mix.principal-button(var.$green-bankia, var.$white);
        }
        .login-button-register{
            @include mix.alternative-button(var.$white, var.$green-bankia);
        }
    }
}