@use '../../scss/utilities/mixings' as mix;
@use '../../scss/utilities/variables' as var;
.home {
    width: var.$per-10;
    margin: auto;
    .home-content {
        background-image: url('../../images/home-content.jpg');
        animation-direction: reverse;
        width: var.$per-10;
        margin: auto;
        height: nth(var.$hundreds, 8);
        .login-register {
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: var.$mp-g;
            width: nth(var.$hundreds, 3);
            height: nth(var.$hundreds, 3);
            position: relative;
            top: var.$mp-q + var.$mp-h;
            left: var.$per-6;
            display: flex;
        }
        .home-selectors {
            width: var.$per-8;
            margin: auto;
            display: flex;
            justify-content: space-between;
            background-color: rgba(255, 255, 255, 0.8);
            position: relative;
            height: var.$mp-q - var.$mp-i;
            top: var.$mp-u + var.$mp-l;
            border-top-left-radius: var.$mp-g;
            border-top-right-radius: var.$mp-g;
            .selector {
                width: var.$per-8;
                margin: auto;
                display: flex;
                margin-left: var.$size-p;
                .selector-images {
                    width: var.$per-2;
                    margin: auto;
                    .img {
                        width: var.$size-u;
                        height: var.$size-u;
                        margin: auto;
                    }
                }
                .selector-content {
                    width: var.$per-8;
                    .selector-content-center {
                        width: var.$per-8;
                        margin: auto;
                        left: var.$per-1;
                        position: relative;
                        .selector-title {
                            font-size: var.$size-i;
                            font-weight: nth(var.$fw, 6);
                        }
                        .selector-button {
                            @include mix.alternative-button(var.$white,
                            var.$green-bankia);
                            margin-top: var.$mp-g;
                            font: normal bold 13px/1 "Roboto", sans-serif;
                            &:hover {
                                @include mix.principal-button(var.$green-bankia,
                                var.$white);
                                font: normal bold 13px/1 "Roboto", sans-serif;
                            }
                        }
                    }
                }
            }
            .selector-left {
                .selector-img {
                    .img {
                        background-image: url('../../images/Prestamos.svg');
                    }
                }
            }
            .selector-center {
                .selector-img {
                    .img {
                        background-image: url('../../images/Herram_Fondos.svg');
                    }
                }
            }
            .selector-right {
                .selector-img {
                    .img {
                        background-image: url('../../images/Herram_Fondos.svg');
                    }
                }
            }
        }
    }
    .home-body {
        height: auto;
        margin-top: var.$size-v;
        margin-bottom: var.$mp-i;
        .payments-title {
            text-align: center;
            font-size: var.$mp-j;
            font-weight: nth(var.$fw, 6);
        }
        .home-body-container {
            width: var.$per-8;
            margin: auto;
            height: nth(var.$hundreds, 4);
            .atm-img {
                background-image: url('../../images/RedCajeros_Home_370x250.jpg');
            }
            .payment-bizum {
                .payment-bizum-img {
                    background-image: url('../../images/Bizum_370x250_nov20.jpg');
                    width: nth(var.$hundreds, 5);
                    height: nth(var.$hundreds, 4);
                    background-size: cover;
                }
            }
            .payment-mobile {
                .payment-mobile-img {
                    background-image: url('../../images/PAGO_MOVIL_370x250_nov20.jpg');
                    width: nth(var.$hundreds, 5);
                    height: nth(var.$hundreds, 4);
                    background-size: cover;
                }
            }
            .promotion-img {
                background-image: url('../../images/promos.jpg');
                justify-content: space-between;
            }
        }
        .equals-design {
            display: flex;
            .panel-left,
            .panel-right {
                width: var.$per-5;
                margin: auto;
            }
            .panel-right {
                .panel-right-content {
                    width: var.$per-8;
                    margin: auto;
                    .atm-title,
                    .promotion-title {
                        font-size: var.$size-k;
                        font-weight: nth(var.$hundreds, 7);
                    }
                    .atm-description,
                    .promotion-description {
                        margin-top: var.$mp-i;
                        margin-bottom: var.$mp-i;
                    }
                    .atm-button,
                    .promotion-button {
                        @include mix.alternative-button(var.$white,
                        var.$green-bankia);
                        &:hover {
                            @include mix.principal-button(var.$green-bankia,
                            var.$white);
                        }
                    }
                }
            }
        }
        .payments {
            margin-bottom: var.$size-u;
            display: flex;
            justify-content: space-around;
            .payment-bizum,
            .payment-mobile {
                .payment-content {
                    position: relative;
                    bottom: 280px;
                    width: nth(var.$hundreds, 5);
                    background-color: var.$white;
                    opacity: 0;
                    transition: all .3s;
                    .payment-center {
                        width: var.$per-8;
                        margin: auto;
                        padding-top: var.$mp-i;
                        padding-bottom: var.$mp-i;
                    }
                    &:hover {
                        opacity: .9;
                    }
                    .payment-title {
                        font-size: var.$size-k;
                        font-weight: nth(var.$hundreds, 7);
                    }
                    .payment-description {
                        margin-top: var.$mp-i;
                        margin-bottom: var.$mp-i;
                    }
                    .payment-button {
                        @include mix.alternative-button(var.$white,
                        var.$green-bankia);
                        &:hover {
                            @include mix.principal-button(var.$green-bankia,
                            var.$white);
                        }
                    }
                }
            }
        }
        .home-body-img {
            width: nth(var.$hundreds, 3);
            height: nth(var.$hundreds, 2);
            margin: auto;
            background-size: contain;
            border-radius: var.$mp-f;
        }
    }
}


/**
MEDIA-QUERY
**/


/*----- Escritorio -----*/

@media (min-width: 1441px) {
    .home {
        .home-content,
        .home-body {
            @include mix.center(nth(var.$medias,
            5));
        }
    }
}


/*----- Tablet -----*/


/*Portrait*/

@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    .home {
        .home-content {
            .login-register {
                left: var.$per-4;
            }
            .home-selectors {
                width: var.$per-10;
                height: var.$mp-q - var.$mp-i;
                top: var.$mp-u + var.$mp-l;
            }
        }
        .home-body {
            .home-body-container {
                .payment-bizum,
                .payment-mobile {
                    .payment-bizum-img,
                    .payment-mobile-img {
                        width: nth(var.$hundreds, 3);
                        height: nth(var.$hundreds, 3);
                    }
                }
            }
            .payments {
                .payment-bizum,
                .payment-mobile {
                    .payment-content {
                        width: nth(var.$hundreds, 3);
                        bottom: var.$mp-t - var.$mp-c;
                        height: nth(var.$hundreds, 2);
                    }
                }
            }
        }
    }
}


/*landscape*/

@media (min-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    .home {
        .home-content {
            .home-selectors {
                width: var.$per-9;
                height: var.$mp-q - var.$mp-i;
                top: var.$mp-u + var.$mp-l;
            }
        }
        .home-body {
            .home-body-container {
                .payment-bizum,
                .payment-mobile {
                    .payment-bizum-img,
                    .payment-mobile-img {
                        width: nth(var.$hundreds, 4);
                        height: nth(var.$hundreds, 3);
                    }
                }
            }
            .payments {
                .payment-bizum,
                .payment-mobile {
                    .payment-content {
                        width: nth(var.$hundreds, 4);
                        bottom: var.$mp-t - var.$mp-c;
                        height: nth(var.$hundreds, 2);
                    }
                }
            }
        }
    }
}


/*----- movil -----*/


/*Portrait*/


/*Default*/

@media (max-width: 575.98px)and (orientation:portrait) {
    .home {
        .home-content {
            background-size: cover;
            .login-register {
                left: var.$per-2;
            }
            .home-selectors {
                width: var.$per-10;
                height: var.$mp-r;
                top: var.$mp-u - var.$size-h;
                .selector {
                    display: grid;
                    margin-left: var.$mp-a;
                    text-align: center;
                    .selector-content {
                        .selector-content-center {
                            .selector-title {
                                margin-top: var.$mp-f;
                                margin-bottom: var.$mp-f;
                            }
                            .selector-button {
                                width: var.$size-w;
                            }
                        }
                    }
                }
            }
        }
        .home-body {
            .payments-title {
                margin-top: var.$mp-nn;
            }
            .home-body-container {
                height: auto;
            }
            .equals-design {
                display: grid;
                .panel-left,
                .panel-right {
                    width: auto;
                }
                .panel-right {
                    width: nth(var.$hundreds, 3);
                    .panel-right-content {
                        display: grid;
                        .promotion-title,
                        .atm-title {
                            margin-top: var.$mp-i;
                        }
                        .atm-button,
                        .promotion-button {
                            width: var.$per-8;
                            margin: auto;
                        }
                    }
                }
            }
            .payments {
                display: grid;
                .payment-bizum,
                .payment-mobile {
                    .payment-content {
                        width: var.$per-10;
                        margin: auto;
                        bottom: var.$mp-s + var.$size-m;
                        .payment-center {
                            width: var.$per-8;
                        }
                    }
                }
            }
            .home-body-container {
                .payment-bizum,
                .payment-mobile {
                    .payment-bizum-img,
                    .payment-mobile-img {
                        width: nth(var.$hundreds, 4);
                        height: nth(var.$hundreds, 3);
                    }
                }
            }
            .promotions {
                margin-bottom: var.$mp-p - var.$mp-e;
            }
        }
    }
}


/*landscape*/

@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    .home {
        .home-content {
            .home-selectors {
                width: var.$per-10;
                height: var.$mp-q - var.$mp-i;
                top: var.$mp-u + var.$mp-l;
            }
        }
        .home-body {
            .home-body-container {
                .payment-bizum,
                .payment-mobile {
                    .payment-bizum-img,
                    .payment-mobile-img {
                        width: var.$mp-u + var.$mp-l;
                        height: nth(var.$hundreds, 3);
                    }
                }
            }
            .payments {
                .payment-bizum,
                .payment-mobile {
                    .payment-content {
                        width: var.$mp-u + var.$mp-l;
                        bottom: var.$mp-t - var.$mp-c;
                        height: nth(var.$hundreds, 2);
                    }
                }
            }
        }
    }
}