@use '../../scss/utilities/mixings' as mix;
@use '../../scss/utilities/variables' as var;
.home {
    //width: 1440px;
    width: 100%;
    margin: auto;
    .home-content {
        background-image: url('../../images/home-content.jpg');
        animation-direction: reverse;
        //width: 1440px;
        width: 100%;
        margin: auto;
        height: 800px;
        .login-register {
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 12px;
            width: 300px;
            height: 300px;
            position: relative;
            top: 176px;
            //left: 998px;
            left: 60%;
            display: flex;
        }
        .home-selectors {
            width: 80%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            background-color: rgba(255, 255, 255, 0.8);
            position: relative;
            height: 140px;
            top: 360px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            .selector {
                width: 80%;
                margin: auto;
                display: flex;
                margin-left: 30px;
                .selector-images {
                    width: 20%;
                    margin: auto;
                    .img {
                        width: 40px;
                        height: 40px;
                        margin: auto;
                    }
                }
                .selector-content {
                    width: 80%;
                    .selector-content-center {
                        width: 80%;
                        margin: auto;
                        left: 10%;
                        position: relative;
                        .selector-title {
                            font-size: 14px;
                            font-weight: 600;
                        }
                        .selector-button {
                            @include mix.alternative-button(var.$white,
                            var.$green-bankia);
                            margin-top: 12px;
                            font: normal bold 13px/1 "Roboto", sans-serif;
                            &:hover {
                                @include mix.principal-button(var.$green-bankia,
                                var.$white);
                                font: normal bold 13px/1 "Roboto", sans-serif;
                            }
                        }
                    }
                }
            }
            .selector-left {
                .selector-img {
                    .img {
                        background-image: url('../../images/Prestamos.svg');
                    }
                }
            }
            .selector-center {
                .selector-img {
                    .img {
                        background-image: url('../../images/Herram_Fondos.svg');
                    }
                }
            }
            .selector-right {
                .selector-img {
                    .img {
                        background-image: url('../../images/Herram_Fondos.svg');
                    }
                }
            }
        }
    }
    .home-body {
        height: auto;
        margin-top: 50px;
        margin-bottom: 20px;
        .payments-title {
            text-align: center;
            font-size: 24px;
            font-weight: 600;
        }
        .home-body-container {
            width: 80%;
            margin: auto;
            height: 400px;
            .atm-img {
                background-image: url('../../images/RedCajeros_Home_370x250.jpg');
            }
            .payment-bizum {
                .payment-bizum-img {
                    background-image: url('../../images/Bizum_370x250_nov20.jpg');
                    width: 500px;
                    height: 400px;
                    background-size: cover;
                }
            }
            .payment-mobile {
                .payment-mobile-img {
                    background-image: url('../../images/PAGO_MOVIL_370x250_nov20.jpg');
                    width: 500px;
                    height: 400px;
                    background-size: cover;
                }
            }
            .promotion-img {
                background-image: url('../../images/promos.jpg');
                justify-content: space-between;
            }
        }
        .equals-design {
            display: flex;
            .panel-left,
            .panel-right {
                width: 50%;
                margin: auto;
            }
            .panel-right {
                .panel-right-content {
                    width: 80%;
                    margin: auto;
                    .atm-title,
                    .promotion-title {
                        font-size: 18px;
                        font-weight: 700;
                    }
                    .atm-description,
                    .promotion-description {
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                    .atm-button,
                    .promotion-button {
                        @include mix.alternative-button(var.$white,
                        var.$green-bankia);
                        &:hover {
                            @include mix.principal-button(var.$green-bankia,
                            var.$white);
                        }
                    }
                }
            }
        }
        .payments {
            margin-bottom: 40px;
            display: flex;
            justify-content: space-around;
            .payment-bizum,
            .payment-mobile {
                .payment-content {
                    position: relative;
                    bottom: 280px;
                    width: 500px;
                    background-color: var.$white;
                    opacity: 0;
                    transition: all .3s;
                    .payment-center {
                        width: 80%;
                        margin: auto;
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
                    &:hover {
                        opacity: .9;
                    }
                    .payment-title {
                        font-size: 18px;
                        font-weight: 700;
                    }
                    .payment-description {
                        margin-top: 20px;
                        margin-bottom: 20px;
                    }
                    .payment-button {
                        @include mix.alternative-button(var.$white,
                        var.$green-bankia);
                        &:hover {
                            @include mix.principal-button(var.$green-bankia,
                            var.$white);
                        }
                    }
                }
            }
        }
        .home-body-img {
            width: 300px;
            height: 200px;
            margin: auto;
            background-size: contain;
            border-radius: 10px;
        }
    }
}


/**
MEDIA-QUERY
**/


/*----- Escritorio -----*/

@media (min-width: 1441px) {
    .home {
        .home-content,
        .home-body {
            width: 1440px;
            margin: auto;
        }
    }
}

@media (min-width: 1199.98px) {

}


/*----- Tablet -----*/


/*Portrait*/

@media (min-width: 576px) and (max-width: 991.98px) and (orientation:portrait) {
    .home {
        .home-content {
            .login-register {
                left: 40%;
            }
            .home-selectors {
                width: 100%;
                height: 140px;
                top: 360px;
            }
        }
        .home-body {
            .home-body-container {
                .payment-bizum,
                .payment-mobile {
                    .payment-bizum-img,
                    .payment-mobile-img {
                        width: 300px;
                        height: 300px;
                    }
                }
            }
            .payments {
                .payment-bizum,
                .payment-mobile {
                    .payment-content {
                        width: 300px;
                        bottom: 252px;
                        height: 200px;
                    }
                }
            }
        }
    }
}


/*landscape*/

@media (min-width: 991.98px) and (max-width: 1199.98px)and (orientation:landscape) {
    .home {
        .home-content {
            .home-selectors {
                width: 90%;
                height: 140px;
                top: 360px;
            }
        }
        .home-body {
            .home-body-container {
                .payment-bizum,
                .payment-mobile {
                    .payment-bizum-img,
                    .payment-mobile-img {
                        width: 400px;
                        height: 300px;
                    }
                }
            }
            .payments {
                .payment-bizum,
                .payment-mobile {
                    .payment-content {
                        width: 400px;
                        bottom: 252px;
                        height: 200px;
                    }
                }
            }
        }
    }
}


/*----- movil -----*/


/*Portrait*/


/*Default*/

@media (max-width: 575.98px)and (orientation:portrait) {
    .home {
        .home-content {
            background-size: cover;
            .login-register {
                left: 20%;
            }
            .home-selectors {
                width: 100%;
                height: 193px;
                top: 307px;
                .selector {
                    display: grid;
                    margin-left: 0px;
                    text-align: center;
                    .selector-content {
                        .selector-content-center {
                            .selector-title {
                                margin-top: 10px;
                                margin-bottom: 10px;
                            }
                            .selector-button {
                                width: 60px;
                            }
                        }
                    }
                }
            }
        }
        .home-body {
            .payments-title {
                margin-top: 80px;
            }
            .home-body-container {
                height: auto;
            }
            .equals-design {
                display: grid;
                .panel-left,
                .panel-right {
                    width: auto;
                }
                .panel-right {
                    width: 300px;
                    .panel-right-content {
                        display: grid;
                        .promotion-title,
                        .atm-title {
                            margin-top: 20px;
                        }
                        .atm-button,
                        .promotion-button {
                            width: 80%;
                            margin: auto;
                        }
                    }
                }
            }
            .payments {
                display: grid;
                .payment-bizum,
                .payment-mobile {
                    .payment-content {
                        width: 100%;
                        margin: auto;
                        bottom: 246px;
                        .payment-center {
                            width: 80%;
                        }
                    }
                }
            }
            .home-body-container {
                .payment-bizum,
                .payment-mobile {
                    .payment-bizum-img,
                    .payment-mobile-img {
                        width: 400px;
                        height: 300px;
                    }
                }
            }
            .promotions {
                margin-bottom: 120px;
            }
        }
    }
}


/*landscape*/

@media (min-width: 576px) and (max-width: 991.98px) and (orientation:landscape) {
    .home {
        .home-content {
            .home-selectors {
                width: 100%;
                height: 140px;
                top: 360px;
            }
        }
        .home-body {
            .home-body-container {
                .payment-bizum,
                .payment-mobile {
                    .payment-bizum-img,
                    .payment-mobile-img {
                        width: 360px;
                        height: 300px;
                    }
                }
            }
            .payments {
                .payment-bizum,
                .payment-mobile {
                    .payment-content {
                        width: 360px;
                        bottom: 252px;
                        height: 200px;
                    }
                }
            }
        }
    }
}